@charset "utf-8";
body { 
	margin:0; 
	padding:0; 
	background: none; 
	width:100%; 
}
html { 
	padding:0; 
	margin:0;
}
.clr {
	clear:both;
}

/* main */
.main {
	width:750px; 
	padding:100px 0 0 0; 
	margin:0 auto;
}
